/* Main body area */

body {
  background-color: white;
  font-family: "Raleway", sans-serif;
  color: #445361;
  text-align: center;
}

/* Heading area */

.heading {
  text-align: center;
  font-size: 2.5rem;
}

/* Logo area */

.logo {
  height: 50px;
  padding-right: 5px;
}

/* Question area for first 2 user inputs*/

#questions-area {
  padding-top: 20px;
  background-color: #DED0F7;
  color: #332D09;
  font-weight: bold;
  font-size: 16px;
  width: 500px;
  margin: 0 auto;
  border-style: double;
}


#weeks-question {
  padding-top: 20px;
  font: white;
}

#break-question {
  padding-top: 10px;
  padding-bottom: 25px;
}

/* User input table */

#table-area {
  padding-top: 30px;
}

#input-table {
  border: solid 3px;
  border-collapse: collapse;
  border-spacing: 1px;
  font: normal 13px Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

#input-table th {
  padding: 1px;
  background-color: #FDDB1E;
  color: #5817C7;
  font-size: 16px;
}

.day-border {
  border-right: solid 2px;
}

#input-table tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 1px;

}

/* User display table */

#display-table {
  padding-top: 20px;
  padding-bottom: 20px;
}

#display-shift-length-table {
  border: solid 3px;
  border-collapse: collapse;
  border-spacing: 1px;
  font: normal 13px Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#display-shift-length-table th {
  padding: 1px;
  background-color: #FDDB1E;
  color: #5817C7;
  font-size: 16px;
}


/* Input box */
input[type=text] {
  transition: width 0.4s ease-in-out;

}

input[type=time] {
  width: 100%;
  padding: 1px 1px;
  margin: 4px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

/* Button */

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_hover */
#calculate-shift {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #DED0F7;
  color: #332D09;
  border: 2px solid #FDDB1E;
}

#calculate-shift:hover {
  background-color: #332D09;
  color: #DED0F7;
}

#average-area {
  padding-top: 25px;
}

/* Media queries */

@media screen and (max-width: 320px) {
  input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
  }
}

@media screen and (max-width: 480px) {
  input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
  }
}

@media screen and (max-width: 768px) {
  input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  
}