/* Global style */
/* Adapted from LoveMaths tutorial */


body {
  background-color: white;
  font-family: "Raleway", sans-serif;
  color: #445361;
  text-align: center;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
}

.logo {
  height: 50px;
  padding-right: 5px;
}

#questions-area {
  padding-top: 20px;
  background-color: #dddfe1;
  width: 500px;
  margin: 0 auto;
  border-style: double;
}


#weeks-question {
  padding-top: 20px;
}

#break-question {
  padding-top: 10px;
  padding-bottom: 25px;
}


/* https://codeshack.io/html-styling-tables-example/ 
table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}

table td {
	padding: 1px;
}

table thead td {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
} */




#table-area {
  padding-top: 30px;
}


/* https://jsfiddle.net/zinoui/dB93J */
 #input-table {
  border: solid 3px;
  border-collapse: collapse;
  border-spacing: 1px;
  font: normal 13px Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

#input-table th {
  padding: 1px;
  background-color: #FDDB1E;
  color: #5817C7;
  font-size: 16px;
}

.day-border {
  border-right: solid 2px;
}

#input-table tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 1px;

}





/* Input box */
input[type=text] {
  transition: width 0.4s ease-in-out;

}

input[type=time] {
  width: 100%;
  padding: 1px 1px;
  margin: 4px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

@media screen and (max-width: 320px) {
  input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
  }
}

@media screen and (max-width: 480px) {
  input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
  }
}

@media screen and (max-width: 768px) {
  input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
  }
}

@media screen and (max-width: 1024px) {}